<html>
  <!DOCTYPE html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="shortcut icon" type="image/png" href="../img/avotrans.ico"/>
    <script src="https://use.typekit.net/afv8npa.js"></script>
    <script>
      try {
        Typekit.load({async: true});
      } catch (e) {}
    </script>
    <title>Guac Party!</title>
  </head>

  <body>
    <div class="info-section success">
      <div class="info">
        <div class="info-intro">
          <h2><%= @guest_count_2018 %>
            folks have RSVP'd</h2>
          <h2><%= @guacamole_count_2018 %>
            are bringing guacamole</h2>
          <h2><%= @beer_count_2018 %>
            will bring beer</h2>
          <h2><%= @friends_count_2018 %>
            have indicated they'll bring friends</h2>
        </div>
      </div>
    </div>

    <div class="info-section success">
      <div class="info">
        <div class="info-intro">
          <h2><%= @guest_trending %>
            more guests RSVP'd than this time last year</h2>
          <h2><%= @guacamole_trending %>
            more guacamoles than this time last year</h2>
          <h2><%= @beer_trending %>
            more beers than this time last year</h2>
          <h2><%= @friends_trending %>
            more friends than this time last year</h2>
        </div>
      </div>
    </div>
  </body>
</html>
